<div>
    {{.}}
    <!-- Begin Scroll Up Button -->

    <form action="#home">
        <button id="toTop" title="Go to top">
            <i class="fas fa-angle-up"></i>
        </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
        <!-- Begin Hero -->
        <section class="hero is-large">
            <!-- Begin Mobile Nav -->
            <nav class="navbar is-transparent is-hidden-desktop">
                <!-- Begin Burger Menu -->
                <div class="navbar-brand">
                    <div class="navbar-burger burger" data-target="mobile-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- End Burger Menu -->
                <div id="mobile-nav" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a class="navbar-item" href="#home">
                                Home
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item" href="#about-me">
                                About Me
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item" href="#services">
                                Services
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item" href="#upload">
                                Skills
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a class="navbar-item" href="#cont">
                                Contact Us
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- End Mobile Nav -->
            <!-- Begin Hero Content-->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <figure class="image">
                        <img src="/dist/img/wheelot.png" alt=""/>
                    </figure>
                    <h1 class="subtitle profession">Always get the right price</h1>
                </div>
            </div>
            <!-- End Hero Content-->
            <!-- Begin Hero Menu -->
            <div class="hero-foot ">
                <div class="hero-foot--wrapper">
                    <div class="columns">
                        <div class="column is-12 hero-menu-desktop has-text-centered">
                            <ul>
                                <li class="is-active">
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#about-me">About Us</a>
                                </li>
                                <li>
                                    <a href="#services">Services</a>
                                </li>
                                <li>
                                    <a href="#upload">Upload your car</a>
                                </li>
                                <li>
                                    <a href="#cont">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Hero Menu -->
        </section>
        <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin About Me Section -->
    <div class="section about-me" id="about-me">
        <div class="container">
            <div class="column is-12 about-me">
                <h1 class="title has-text-centered section-title">About Us</h1>
            </div>
            <div class="columns is-multiline">
                <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
                    <p class="is-larger">
                        <strong>
                            We are a car buying company based in Pretoria, we buy vehicles all over South africa. We
                            are
                            commited
                            to giving you a very easy, hassle free, trusted way of selling your vehicle and
                            receiving
                            your funds immediatley
                            and we also guarentee that the vehicle will be off your name within 3 working days. We
                            strive to give you the best
                            possible price and therefor we will beat written honest quotations given it comes from a
                            reputable dealer.
                        </strong>
                    </p>
                    <br/>
                    <p>
                        Contact us today to get the right price for your car
                    </p>
                    <br/>
                    <div class="is-divider"></div>
                    <div class="columns about-links">
                        <div class="column">
                            <p class="heading">
                                <strong>Call us today</strong>
                            </p>
                            <p class="subheading">
                                084 747 1331
                            </p>
                        </div>
                        <div class="column">
                            <p class="heading">
                                <strong>Email Us</strong>
                            </p>
                            <p class="subheading">
                                <a href="email@wheelo.co.za">info@wheelo.co.za</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-6 right-image " data-aos="fade-left">
                    <img class="is-rounded" src="/dist/img/right.jpeg" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Services Content -->

    <div class="section-color services" id="services">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me" data-aos="fade-in" data-aos-easing="linear">
                    <h1 class="title has-text-centered section-title" style="color: yellow;">Our process in 3 simple
                        steps</h1>

                    <h2 class="subtitle">
                        We know selling a vehicle privately can be time consuming and very risky, that's why we come
                        to
                        you
                        and ensure your money reflects immediately.
                    </h2>
                    <br/>
                </div>
                <div class="columns is-12">
                    <div class="column is-4 has-text-centered" data-aos="fade-right">
                        <i class="fas fa-car-side fa-4x" style="color: yellow;"></i>
                        <hr/>
                        <h2>
                            Fill out our online form with all the required details, this helps
                            us to give you the best possible estimate on your vehicle.
                        </h2>
                    </div>
                    <div class="column is-4 has-text-centered" data-aos="fade-right" data-aos-easing="linear">
                        <i class="fas fa-handshake fa-4x" style="color: yellow;"></i>
                        <hr/>
                        <h2>
                            We will arrange for an agent to come to you as soon as possible and finalize the
                            purchase of your beloved vehicle.
                        </h2>
                    </div>
                    <div class="column is-4 has-text-centered" data-aos="fade-right">
                        <i class="fas fa-money-check-alt fa-4x" style="color: yellow;"></i>
                        <hr/>
                        <h2>
                            We fill out all the necessary paperwork, do an immediate payment
                            and we also take the vehicle off your name within 3 working days after every finalized
                            purchase.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Content -->
    <form id="frmSubmission" role="form" data-toggle="validator">
        <!-- End About Me Content -->
        <section class="section has-background-grey-light" id="upload">
            <h2 class="title has-text-centered">Personal Details</h2>
            <br>
            <div class="columns is-12  has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-2">
                    <h4 class="subtitle">Name</h4>
                    <div class="control has-text-centered">
                        <input id="txtName" class="input" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Contact Number</h4>
                    <div class="control has-text-centered">
                        <input id="txtContactNo" class="input" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">E-mail adress</h4>
                    <div class="control has-text-centered">
                        <input id="txtEmail" class="input" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Province</h4>
                    <div class="control has-text-centered">
                        <div class="select has-text-centered is-fullwidth">
                            <select id="ddlProvince" class="is-hovered">
                                <option>Select Province</option>
                                <option>Eastern Cape</option>
                                <option>Free State</option>
                                <option>Gauteng</option>
                                <option>KwaZulu-Natal</option>
                                <option>Limpopo</option>
                                <option>Mpumalanga</option>
                                <option>North West</option>
                                <option>Northern Cape</option>
                                <option>Western Cape</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Town</h4>
                    <div class="control has-text-centered">
                        <input class="input" id="txtTown" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Suburb</h4>
                    <input id="txtSuburb" class="input" type="text" placeholder="Normal input">
                </div>
            </div>
        </section>

        <section class="section has-background-grey-lighter services">
            <h2 class="title has-text-centered">Vehicle Details</h2>
            <div class="columns is-12  has-text-centered" data-aos="fade-in" data-aos-easing="linear" id="services">
                <div class="column is-2">
                    <h4 class="subtitle">Year</h4>
                    <div class="control has-text-centered">
                        <div class="select is-fullwidth has-text-centered">
                            <select id="ddlYear" class="is-hovered">
                                <option>Select Year</option>
                                {{range $k := .Data.Years}}
                                    <option value="{{$k}}">{{$k}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Make</h4>
                    <div class="control has-text-centered">
                        <div class="select is-fullwidth has-text-centered">
                            <select id="ddlMake" class="is-hovered">
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Model</h4>
                    <div class="control has-text-centered has-text-centered">
                        <div class="select is-fullwidth">
                            <select id="ddlModel" class="is-hovered">
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <h4 class="subtitle">Trim</h4>
                    <div class="control has-text-centered">
                        <div class="select is-fullwidth has-text-centered">
                            <select id="ddlTrim" class="is-hovered">
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Begin Skills Content -->
        <section class="section has-background-white-ter">
            <h2 class="title has-text-centered">Additional info</h2>
            <div class="columns is-12  has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-2">
                    <h4 class="subtitle">Mileage</h4>
                    <div class="control has-text-centered">
                        <input id="numMileage" class="input" type="number" max="1000000" step="100" value="10000"
                               placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Asking Price</h4>
                    <div class="control has-text-centered">
                        <input class="input" id="txtPrice" type="number" min="1000" max="2000000" step="500"
                               placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Condition</h4>
                    <div class="control has-text-centered">
                        <div class="select is-fullwidth has-text-centered">
                            <select id="ddlCondition" class="is-hovered">
                                <option>1 - Poor</option>
                                <option>2 - Needs work</option>
                                <option>3 - Average</option>
                                <option>4 - Good</option>
                                <option>5 - Very Good</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <h4 class="subtitle">Issues</h4>
                    <div class="control has-text-centered">
                        <textarea id="txtIssues" class="textarea"
                                  placeholder="e.g. Windscreen cracks, worn tyres, engine lights etc."></textarea>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section class="section">
            <h2 class="title has-text-centered">Photos</h2>
            <div class="columns is-12  has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-2">
                    <h4 class="subtitle">Front</h4>
                    <div class="file is-boxed is-centered">
                        <label class="file-label">
                            <input class="file-input" type="file" multiple="false" data-for="Ad" data-name="Leads"
                                   data-id="" accept=".jpg, .jpeg, .png" id="uplFront" placeholder="Front Image"
                                   required/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload here
                            </span>
                        </span>
                        </label>
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Left</h4>
                    <div class="file is-boxed is-centered">
                        <label class="file-label">
                            <input class="file-input" type="file" multiple="false" data-for="Ad" data-name="Leads"
                                   data-id="" accept=".jpg, .jpeg, .png" id="uplLeft" placeholder="Left Image"
                                   required/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload here
                            </span>
                        </span>
                        </label>
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Right</h4>
                    <div class="file is-boxed is-centered">
                        <label class="file-label">
                            <input class="file-input" type="file" multiple="false" data-for="Ad" data-name="Leads"
                                   data-id="" accept=".jpg, .jpeg, .png" id="uplRight" placeholder="Right Image"
                                   required/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload here
                            </span>
                        </span>
                        </label>
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Rear</h4>
                    <div class="file is-boxed is-centered">
                        <label class="file-label">
                            <input class="file-input" type="file" multiple="false" data-for="Ad" data-name="Leads"
                                   data-id="" accept=".jpg, .jpeg, .png" id="uplRear" placeholder="Rear Image"
                                   required/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload here
                            </span>
                        </span>
                        </label>
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Interior</h4>
                    <div class="file is-boxed is-centered">
                        <label class="file-label">
                            <input class="file-input" type="file" multiple="false" data-for="Ad" data-name="Leads"
                                   data-id="" accept=".jpg, .jpeg, .png" id="uplInterior"
                                   placeholder="Interior Image"
                                   required/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload here
                            </span>
                        </span>
                        </label>
                    </div>
                </div>
                <div class="column is-2">
                    <h4 class="subtitle">Engine</h4>
                    <div class="file is-boxed is-centered">
                        <label class="file-label">
                            <input class="file-input" type="file" multiple="false" data-for="Ad" data-name="Leads"
                                   data-id="" accept=".jpg, .jpeg, .png" id="uplEngine" placeholder="Engine Image"
                                   required/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload here
                            </span>
                        </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="control">
                <button type="button" onclick="SendSubmission()" id="btnSubmissionSubmit"
                        class="button has-text-weight-medium is-medium is-pulled-right">Submit
                </button>
            </div>
        </section>
    </form>
    <!-- End Skills Content -->
    <!-- Begin Contact Content -->
    <section class="section is-fullheight" id="cont">
        <div class="section-body">
            <div class="container has-text-centered">
                <div class="columns is-8 is-variable ">
                    <div class="column is-two-thirds has-text-left">
                        <h1 class="title is-1" id="conthead">Contact Us</h1>
                        <p class="is-size-4">
                            Didn't find what you are looking for? For any additional info or issues please
                            feel free to contact us here.
                        </p>
                        <br>
                        <div class="social-media">
                            <a href="https://facebook.com/Wheelocarbuyercompany/" target="_blank"><i
                                        class="fab fa-facebook-square fa-3x" style="color:yellow;"
                                        aria-hidden="true"></i></a>&nbsp &nbsp
                            <a href="https://instagram.com/wheelo_car_buyer_company_/" target="_blank"><i
                                        class="fab fa-instagram fa-3x" style="color:yellow;"
                                        aria-hidden="true"></i></a>&nbsp &nbsp
                            <a href="https://twitter.com/Wheelocarbuyer/" target="_blank"><i
                                        class="fab fa-twitter fa-3x" style="color:yellow;"
                                        aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <form id="frmContact" role="form" data-toggle="validator">
                        <div class="column is-one-third has-text-left">
                            <div class="field">
                                <label class="label" style="color: yellow;">Name</label>
                                <div class="control">
                                    <input id="txtContactName" class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" style="color: yellow;">Contact Number</label>
                                <div class="control">
                                    <input id="txtContactContactNo" class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" style="color: yellow;">Email</label>
                                <div class="control">
                                    <input id="txtContactEmail" class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" style="color: yellow;">Message</label>
                                <div class="control">
                                    <textarea id="txtContactBody" class="textarea is-medium"></textarea>
                                </div>
                            </div>
                            <div class="control">
                                <button type="button" onclick="SendMessage()"
                                        class="button is-link is-fullwidth has-text-weight-medium is-medium"
                                        id="btnContactSubmit">Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>