{{template "master.html" .}}
{{define "layoutcontent"}}
<form id="frmPersonal" role="form" data-toggle="validator">
    <section class="section has-background-light" id="upload">
        <h2 class="title has-text-centered">Personal Details</h2>
        <div class="container has-background-grey-lighter">
            <br>
            <div class="columns is-multiline is-centered has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-5">
                    <h4 class="subtitle has-text-left"><b>Name</b></h4>
                    <div class="control has-text-centered is-medium">
                        <input id="txtName" class="input" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-5">
                    <h4 class="subtitle has-text-left"><b>Contact Number</b></h4>
                    <div class="control has-text-centered is-medium">
                        <input id="txtContactNo" class="input" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-5">
                    <h4 class="subtitle has-text-left"><b>E-mail adress</b></h4>
                    <div class="control has-text-centered is-medium">
                        <input id="txtEmail" class="input" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-5">
                    <h4 class="subtitle has-text-left"><b>Province</b></h4>
                    <div class="control has-text-centered is-medium">
                        <div class="select has-text-centered is-fullwidth">
                            <select id="ddlProvince" class="is-hovered">
                                <option class="ddlt" disabled selected hidden>Select province...</option>
                                <option>Eastern Cape</option>
                                <option>Free State</option>
                                <option>Gauteng</option>
                                <option>KwaZulu-Natal</option>
                                <option>Limpopo</option>
                                <option>Mpumalanga</option>
                                <option>North West</option>
                                <option>Northern Cape</option>
                                <option>Western Cape</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column is-5">
                    <h4 class="subtitle has-text-left"><b>Town</b></h4>
                    <div class="control has-text-centered is-medium">
                        <input class="input" id="txtTown" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-5">
                    <h4 class="subtitle has-text-left"><b>Suburb</b></h4>
                    <div class="control has-text-centered is-medium">
                        <input id="txtSuburb" class="input" type="text" placeholder="Normal input">
                    </div>
                </div>
                <div class="column is-5">
                    <h4 class="subtitle has-text-left"><b>Asking Price</b></h4>
                    <div class="control has-text-centered is-medium">
                        <input class="input" id="numPrice" type="number" min="1000" max="2000000" step="500"
                            placeholder="R">
                    </div>
                </div>
                <div class="column is-5"></div>
                <div class="column is-10">
                    <div class="buttons is-right">
                        <button id="btnSubmit" class="button is-block is-normal">Submit</button>
                        <p id="frmStep1Err" class="help is-danger"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{{end}}